{{#p-index}}
  {{> ../head }}
  {{> ../organisms/header}}
  {{> ../organisms/header-banner}}
  {{> ../organisms/choose-section}}
  {{> ../organisms/products}}
  {{> ../organisms/about-us}}
  {{> ../organisms/get-in}}
  {{> ../organisms/footer}}
  {{> ../foot }}
{{/p-index}}