<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendors/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendors/aos.css">
    <link rel="stylesheet" href="assets/css/vendors/slick.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/magnific-popup.css">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <title>{{head.title}}</title>
  </head>

  <body>
