{{#mol-get-in-title}}
  {{#title}}
    <div class="get-in__title">
      <h2>{{{title}}}</h2>
      {{#description}}
        <p>{{{description}}}</p>
      {{/description}}
    </div>
  {{/title}}
{{/mol-get-in-title}}
