{{#mol-header-banner-item}}
  {{#banner-items}}
    <div class="header-banner__content__item">
      {{#title}}
        <h2>{{{title}}}</h2>
      {{/title}}

      {{#text}}
        <p>
          {{{text}}}
        </p>
      {{/text}}
    </div>
  {{/banner-items}}
{{/mol-header-banner-item}}
