{{#mol-products-items}}
  {{#products-items}}
    <div class="col-12">
      <div class="products__main__content__slider__item">
        {{#item-img}}
          <div class="products__main__content__slider__item__image">
            <img src="{{{item-img}}}" alt="{{{alt}}}">
          </div>
        {{/item-img}}
        {{#title}}
          <div class="products__main__content__slider__item__info">
            <h3>{{{title}}}</h3>
            <a href="#">{{{link-text}}}</a>
            <p>{{{description}}}</p>
          </div>
        {{/title}}
      </div>
    </div>
  {{/products-items}}
{{/mol-products-items}}
