{{#mol-products-title}}
  {{#bg-image}}
    <div class="products__main__title" style="background-image: url({{{bg-image}}})">
      <h2>{{{title}}}</h2>
    </div>
  {{/bg-image}}
{{/mol-products-title}}
