{{#org-choose-section}}
  <section class="choose-section">
    <div class="container">
      <div class="choose-section__main">
        {{> ../molecules/section-choose-title}}
        <div class="choose-section__main__content">
          <div class="row justify-content-around">
            {{> ../molecules/choose-item}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/org-choose-section}}
