{{#org-footer}}
  <footer class="footer">
    <div class="footer__custome-wrapper">
      {{> ../molecules/footer-copyright}}
      <div class="footer__custome-wrapper__socials">
        <ul>
          {{> ../molecules/footer-list}}
        </ul>
      </div>
    </div>
  </footer>
{{/org-footer}}
