{{#org-header}}
  <header>
    <div class="header-main">
      <div class="nav_wrapper">
        <div class="container claerfix d-flex align-items-lg-center align-items-start justify-content-between">
          <div class="w-100 d-flex justify-content-between align-items-center" style="height: 70px">
            <a href="#">
              <img class="brand-style" src="assets/img/logo.png" alt="logo">
            </a>
            <div class="spinner-master">
              <input type="checkbox" id="spinner-form" />
              <label for="spinner-form" class="spinner-spin">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
              </label>
            </div>
            <div class="navigation-menu">
              <nav id="menu" class="menu-header float-right">
                <ul class="dropdown">
                  <li><a href="#home" title="Link">Home</a></li>
                  <li><a href="#product" title="Link">Product</a>
                    <ul>
                      <li><a href="#Link" title="Link">Name Surname</a></li>
                      <li><a href="#Link" title="Link">Nelson Noa Chris</a></li>
                      <li><a href="#Link" title="Link">Name Surname</a>
                        <ul>
                          <li><a href="#Link" title="Link">Name Surname</a></li>
                          <li><a href="#Link" title="Link">Nelson Noa Chris</a></li>
                          <li><a href="#Link" title="Link">Name Surname</a></li>
                          <li><a href="#Link" title="Link">Nelson Noa</a></li>
                          <li><a href="#Link" title="Link">Nelson Noa Chris</a></li>
                        </ul>
                      </li>
                      <li><a href="#Link" title="Link">Nelson Noa</a></li>
                    </ul>
                  </li>
                  <li><a href="#about" title="Link">About</a></li>
                  <li><a href="#contact" title="Link">Contact</a></li>
                </ul>
              </nav>
              <form role="search" method="get" id="searchform" class="searchform" action="#" _lpchecked="1">
                <div class="searchboxwrapper">
                  <input class="searchbox" type="text" name="search" id="search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{/org-header}}
