{{#org-products}}
  <section class="products">
    <div class="products__main">
      {{> ../molecules/products-title}}
      <div class="products__main__content" style="background-image: url(assets/img/product-items-bg.png)">
        <div class="container">
          <div class="row">
            <div class="products__main__content__slider">
              {{> ../molecules/products-items}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/org-products}}
